*{
	margin: 0;
	padding: 0;
}
body{
	font-family: arial;
}
.bold-title{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 0;
}
.pr-container{
	width: 92%;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}
.primary-heading{
	background: #BD318A;
}
.primary-heading h2{
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	padding: 5px 0px;
}
.form-info{
	margin: 8px 0px;
}
.form-info [type="checkbox"]{
	transform: scale(1.5);
	margin-left: 3px;
	margin-right: 10px;
}
.form-info label{
	font-size: 17px;
}

/*user info*/
input[type="text"]:focus{
	border-color: #BD318A;
}
input[type="text"]::placeholder{
	font-size: 15px;
}
.common-input{
	width: 100%;
	height: 38px;
	background: url(../image/line-sixty.png);
	object-fit: cover;
	background-repeat: repeat;
	background-position: -1px;
	font-size: 20px;
	color: #4a4a4a;
	text-transform: uppercase;
	letter-spacing: 12px;
	border: 1px solid #BD318A;
	border-radius: 1px;
	outline: none;
	padding: 7px 5px;
}
.type-input{
	letter-spacing: initial;
}
.other-title{
	border: 1px solid #BD318A;
	border-radius: 1px;
	outline: none;
	padding: 7px 5px;
	width: 100%;
}
.gender .form-info label:first-child{
	margin-right: 10px;
}
.form-info .in-bg-none{
	background-image: none;
	border: 1px solid #BD318A;
	font-size: 16px;
	padding: 7px 5px;
}
.bl-square{
	width: 32px;
	height: 32px;
	background: #000;
	margin-right: 10px;
	display: inline-block;
}
.u_postal{
	width: 150px;
}
.form-btn{
	width: 100%;
	height: 38px;
	position: relative;
	z-index: 1;
	color: #000;
	font-size: 18px;
	font-weight: bold;
	background: #BD318A;
}
.form-btn:before{
	content: '';
	display: block;
	width: 10px;
	height: 100%;
	background: #fff;
	position: absolute;
	left: 50%;
	top: 0px;
	transform: translateX(-50%) skew(35deg);
	z-index: -1;
	transition: .3s;
}
.form-btn:hover:before{
	left: 90%;
	transform: translateX(-50%) skew(0deg);
}
footer{
	margin-top: 7px;
}
footer img{
	width: 45px !important;
	margin-right: 10px;
}